<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Projects</title>
</head>

<body>

	<h1>Project planner</h1>
	
	<div>
		<form name="new_project_form" th:action="@{/save}" method="POST">
			<p>
				New project name: <input type="text" name="name" />
				<button type="submit" name="new_project_submit" id="new_project_submit">New project</button>
			</p>
		</form>
	</div>
	
	<div th:unless="${error == null || error.empty}">
		<p th:text="${error}"></p>
	</div>
	
	<!-- IF NO PROJECT SHOWS MESSAGE-->
	<div th:unless="${message == null || message.empty}">
		<p th:text="${message}"></p>
	</div>
	<!-- ELSE -->
	<div th:unless="${projects.empty}">
		<table id="projects_table">
			<caption>My projects</caption>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Completion percentage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projects}">
					<td th:text="${project.id}"></td>
					<td th:text="${project.name}"></td>
					<td th:text="${project.completionPercentage} + '%'"></td>
					<td><a th:id="'view_project_tasks' + ${project.id}" th:href="@{'/projectTasks/' + ${project.id}}">View tasks</a></td>
					<td><a th:id="'delete_project' + ${project.id}" th:href="@{'/delete/' + ${project.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>